.pagination-navbar{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.page-link{
    cursor: pointer;
    color: #ffc107;
}
.page-link:hover{
    color: black;
}
.page-link-logo{
    color: black;
}
.page-link-logo:hover{
    color: #ffc107;
}
.activePage{
    background-color: black;
}
.page-link:active{
    background-color: black;
}