.card{
    margin: 15px;
}
.card-title{
    font-size:x-large;
    cursor: pointer;
}
.card-character-title:hover{
    color: rgb(51, 48, 48);
}
.card-info{
    font-size: smaller;
}
.list-group-item{
    background-color: rgb(213, 207, 207);
}