.card-details{
    width: 50%;
    background-color: #ffc107;
}
.card-container{
    display: flex;
    justify-content: center;
}
.card-text{
    border-color: black;
    border-style:groove
}
.card-details-title{
    cursor:default;
    background-color: black;
    border-radius: 1rem;
    color: #ffc107;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.film-episode{
    border-style: ridge;
    border-radius: 10rem;
    background-color: black;
    color: #ffc107;
}
.img-fluid{
    padding-top: 1rem;
}
